/* default styles */

h11{
  font-size: 40px;
  font-weight: 500;
  color: lightgreen;
}

.dashboard-clientbox34 {
  position: relative;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 30px;
}

st{
  margin: auto;
  position: absolute;
  top: 4em; left: 10em; bottom: 0; right: 0;
}
st:hover{
  color: rgb(250, 218, 38);
}

re {
  margin: auto;
  position: absolute;
  top: 4em; left: 30em; bottom: 0; right: 0;
}
re:hover{
  color: rgb(250, 218, 38);
}

my {
  margin: auto;
  position: absolute;
  top: 4em; left: 51em; bottom: 0; right: 0;
}
my:hover{
  color: rgb(250, 218, 38);
}

chec {
  margin: auto;
  position: absolute;
  top: 13em; left: 9em; bottom: 0; right: 0;
}
chec:hover{
  color:rgb(250, 218, 38);
}

adus {
  margin: auto;
  position: absolute;
  top: 13em; left: 32em; bottom: 0; right: 0;
}
adus:hover{
  color: rgb(250, 218, 38);
}

do {
  margin: auto;
  position: absolute;
  top: 13em; left: 51em; bottom: 0; right: 0;
}
do:hover{
  color: rgb(250, 218, 38);
}

vi {
  margin: auto;
  position: absolute;
  top: 20em; left: 10em; bottom: 0; right: 0;
}

vi:hover{
  color: rgb(250, 218, 38);
}

bo {
  margin: auto;
  position: absolute;
  top: 20em; left: 30.2em; bottom: 0; right: 0;
}

bo:hover{
  color: rgb(250, 218, 38);
}

ep {
  margin: auto;
  position: absolute;
  top: 20em; left: 51em; bottom: 0; right: 0;
}

ep:hover{
  color: rgb(250, 218, 38);
}
/* icons css */


/* Media queries */
@media (max-width: 1200px) {
  st {
    margin-left: -300px;
  }
  re {
    margin-left: 20px;
  }
  my {
    margin-left: 410px;
  }
  chec {
    margin-left: -200px;
  }
  addus {
    margin-left: 20px;
  }
  do {
    margin-left: 470px;
  }
  vi {
    margin-right: 350px;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .dashboard-clientbox34 {
    flex-direction: column;
    align-items: flex-start;
  }
  st, re, my, chec, addus, do, vi {
    margin: 10px;
  }
}
