.first-container22{
    background-color: rgb(235, 239, 243);
    border: 1px solid yellow;
    margin: 75px 0px 0px 380px;
    width: 450px;
    padding: 52px 60px 50px 30px;
    outline: dashed 1px black;
}

h30{
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 8.9em;
  left: 23em;
}
h31{
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 12.6em;
  left: 28em;
}

  .form-group22{
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 15px;
    text-align: center;
  }

  input[type=text] {
    width: calc(100% - 100px);
    height: 30px;
    margin: 4px 0 0 -1px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
    }

.region-group22{
  font-weight: bold;
  padding-left: center;
  text-align: center;
  padding: 40px;
    width: calc(100% - 100px);
    height: 23px;
    margin: -33px 0 0 -1px;
}

select#region-select22{
    font-weight: 700;
    width: 230px;
    text-align: center;
    top: 2px;
    left: 15px;
}

select#region-select22
{
  background-color: #fff;
  padding: 2px;
  border-radius: 25px;
  margin-top: 10px;
}

/* CSS for button */
button {
  background-color: #552700;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 1px 0px 0px 200px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: rgb(6, 117, 6);
}


@media screen and (max-width: 576px) {
  /* Styles for screens smaller than 576px */
  .first-container22 {
  margin: 30px auto;
  width: 90%;
  padding: 20px;
  }
  
  select#region-select22 {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  }
  
  button {
  margin: 20px auto;
  }
  
  input[type=text] {
  width: 100%;
  margin: 4px 0 10px 0;
  border-radius: 5px;
  }
  
  .form-group {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  .region-group22 {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  button {
  font-size: 16px;
  height: 35px;
  padding: 8px 12px;
  }
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px) {
  /* Styles for screens between 577px and 768px */
  .first-container22 {
  margin: 50px auto;
  width: 90%;
  padding: 30px;
  }
  
  select#region-select22 {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  }
  
  button {
  margin: 20px auto;
  }
  
  input[type=text] {
  width: 100%;
  margin: 4px 0 10px 0;
  border-radius: 5px;
  }
  
  .form-group22 {
  font-size: 18px;
  margin-bottom: 15px;
  }
  
  .region-group22 {
  font-size: 18px;
  margin-bottom: 15px;
  }
  }
