*, *:before, *:after {
  box-sizing: border-box;
}

/* .bgchangecompleted{
  background-image: url("../assets/pages-bgimages//background.svg");
  background-repeat: no-repeat;
  background-size: cover;
} */

.email-warning{
  display: block;
}

h1.type {
  float: right;
  text-align: center;
  transform: translate(-209px, -44px);
  /* color: #fff; */
  font-size: 33px;
  font-size: 20px;
  font-weight: 100;
}

h1.appli {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  top: 122px;
  right: 941px;
  font-size: 20px;
  font-weight: 100;
  /* color: #fff; */
}

.header-btn1 {
  display: flex;
  position: absolute;
  top: 180px;
  left: 70px;
  gap: 10px;
}

p.status-percent {
  color: #fff;
  position: absolute;
  top: 224px;
  left: 727px;
  font-size: 25px;
}

/* Responsive styles */

/* Apply responsive styles for screen sizes smaller than or equal to 468px */
@media (max-width: 468px) {
  h1.type {
    float: none;
    font-size: 26px;
    text-align: center;
  }

  h1.appli {
    position: static;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
  }

  .header-btn1 {
    position: static;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  p.status-percent {
    position: static;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Adjustments for small screens */
@media (max-width: 767px) {
  h1.type {
    font-size: 24px;
    float: none;
    text-align: center;
  }

  h1.appli {
    position: static;
    justify-content: center;
    padding-right: 0;
  }

  .header-btn1 {
    position: static;
    top: auto;
    left: auto;
    margin-top: 10px;
  }

  p.status-percent {
    position: static;
    top: auto;
    left: auto;
    text-align: center;
  }
}

/* Adjustments for medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  h1.type {
    font-size: 28px;
    float: none;
    text-align: center;
  }

  h1.appli {
    position: static;
    justify-content: center;
    padding-right: 0;
  }

  .header-btn1 {
    position: static;
    top: auto;
    left: auto;
    margin-top: 10px;
  }

  p.status-percent {
    position: static;
    translate: -127px 38px;
    margin: 27px -110px;
    text-align: center;
}
}

/* Adjustments for large screens */
@media (min-width: 992px) and (max-width: 1199px) {
  h1.type {
    font-size: 30px;
  }
}

/* Adjustments for extra-large screens */
/* @media (min-width: 1200px) and (max-width: 1399px) {
  h1.type {
    font-size: 32px;
  }
} */

/* Adjustments for screens larger than 1400px */
/* @media (min-width: 1400px) {
  h1.type {
    font-size: 35px;
  }
} */


/* Default styles */
p.stdate {
  text-align: inherit;
  font-size: 20px;
  font-weight: 600;
}

p.enddate {
  text-align: end;
  font-size: 20px;
  font-weight: 600;
  margin-top: -1.2em;
}

h1.ongo {
  font-size: 20px;
  /* color: #fff; */
  text-align: center;
  transform: translate(-497px, -62px);
}

button.clidown {
  margin-left: 34em;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  /* Styles for screens up to 600px wide */
  p.stdate {
    font-size: 16px;
  }

  p.enddate {
    font-size: 16px;
  }

  h1.ongo {
    font-size: 24px;
  }

  button.clidown {
    margin-left: 16em;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for screens between 601px and 1024px wide */
  p.stdate {
    font-size: 18px;
  }

  p.enddate {
    font-size: 18px;
  }

  h1.ongo {
    font-size: 28px;
  }

  button.clidown {
    margin-left: 26em;
  }
}

/* Add more media queries for other screen sizes if needed */


/*.arrow-right {
  background: linear-gradient(90deg, #f12400 0%, #f72d0a 50%, #f52e0a 100%);
  clip-path: polygon(50% 0%, 90% 51%, 50% 100%, 3% 100%, 32% 50%, 0% 0%);
  width: 149px;
  height: 95px;
  margin-top: 10em;
} */

/*-------Completed Track page */
.arrow-right1 {
  background: linear-gradient(90deg, #117c07 0%, #197207 50%, #2b7c0b 100%);
  clip-path: polygon(50% 0%, 90% 51%, 50% 100%, 3% 100%, 32% 50%, 0% 0%);
  width: 149px;
  height: 95px;
  margin-top: 10em;
}

.circle24 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: green;
  /* float: left; */
  margin-left: 1.1em;
  top: 28em;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  /* Styles for screens up to 600px wide */
  .arrow-right1 {
    width: 100px;
    height: 65px;
    margin-top: 5em;
  }

  .circle24 {
    top: 18em;
    margin-left: 0.6em;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for screens between 601px and 1024px wide */
  .arrow-right1 {
    width: 120px;
    height: 75px;
    margin-top: 7em;
  }

  .circle24 {
    top: 23em;
    margin-left: 0.8em;
  }
}

/* Add more media queries for other screen sizes if needed */



/*.circle23 {
  margin-top: 25px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: red
  margin-left: 4.1em;
} */

/*-------ARROWS ACTIVE COLOR CHANGE--------------*/


/*.line {
  margin-top: 75px;
  margin-left: -13px;
  width: 179px;
  height: 2px;
  background-color: red;
  float: left;
  transform: rotateZ(90deg);
} 

 .line1 {
  margin-top: 106px;
  margin-left: -49px;
  width: 159px;
  height: 2px;
  background-color: green;
  float: left;
  transform: rotateZ(90deg);
} */

/* Default styles */

.tr1 {
  width: 96px;
  height: 120px;
  margin-left: 14px;
  margin-top: 14px;
}

.ryt {
  width: 21px;
  height: 50px;
  position: absolute;
  margin-top: 28px;
  margin-left: -32px;
}

.pdfico {
  position: relative;
  /* bottom: -67%; */
  left: 122%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 23px;
  border-radius: 50%;
  transform: translate(-70px, -78px);
}

.clickedColor {
  background-color: red;
}

.pdfico1 {
  width: 126px;
  margin-top: -16.5px;
  margin-left: 29px;
  /* margin-bottom: -2px; */
  background-color: white;
  padding: 15px 23px;
}

.tc, .wp, .be, .bi, .ep, .legal, .isi, .management {
  text-align: center;
  font-size: 16px;
  margin-top: -4px;
  margin-left: 4.5em;
  display: flex;
  justify-content: flex-start;
  font-weight: 100;
  font-size: 16px;
}

.pdf-container,
.container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.tick-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: inline-flex;
  justify-content: center;
}

.col {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

.circle12 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(85, 214, 85);
  margin-top: -17px;
  margin-left: 5.7em;
}

.stepWrapper {
  overflow-y: hidden;
  overflow-x: auto;
  display: inline-flex;
  margin-bottom: 20px;
  height: 100%;
}

.stepBlock .circleWrapper {
  padding: 18px 78px;
  position: relative;
}

.selected .circle {
  color: black;
  background-color: white;
  border-color: green;
}

.ste {
  height: 30px;
  margin-top: 40px;
  padding: 10px;
}

/* Responsive styles */

/* Apply responsive styles for screen sizes larger than 800px */
@media (min-width: 801px) {
  .pdfico {
    left: 178px;
    top: 96px;
  }
}

@media screen and (max-width: 768px) {
  .tr1 {
    width: 70px; /* Adjust the width for smaller screens */
    height: 90px; /* Adjust the height for smaller screens */
    margin-left: 8px; /* Adjust the margin-left for smaller screens */
    margin-top: 8px; /* Adjust the margin-top for smaller screens */
  }

  .ryt {
    width: 16px; /* Adjust the width for smaller screens */
    height: 40px; /* Adjust the height for smaller screens */
    margin-top: 20px; /* Adjust the margin-top for smaller screens */
    margin-left: -24px; /* Adjust the margin-left for smaller screens */
  }

  .pdfico {
    width: 37px;
    height: 33px;
    left: 90%;
    top: 54%;
}

  .pdfico1 {
    width: 80px; /* Adjust the width for smaller screens */
    margin-top: -10px; /* Adjust the margin-top for smaller screens */
    margin-left: 80px; /* Adjust the margin-left for smaller screens */
    margin-bottom: 10px; /* Adjust the margin-bottom for smaller screens */
  }

  .tc,
  .wp,
  .be,
  .bi,
  .ep,
  .legal,
  .isi,
  .management {
    margin-left: 6em; /* Adjust the margin-left for smaller screens */
  }

  .col {
    margin-top: 10px; /* Adjust the margin-top for smaller screens */
  }

  .circle12 {
    width: 20px; /* Adjust the width for smaller screens */
    height: 20px; /* Adjust the height for smaller screens */
    margin-top: -12px; /* Adjust the margin-top for smaller screens */
    margin-left: 3.5em; /* Adjust the margin-left for smaller screens */
  }

  .ste {
    margin-top: 20px; /* Adjust the margin-top for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .tr1 {
    width: 60px; /* Adjust the width for even smaller screens */
    height: 80px; /* Adjust the height for even smaller screens */
    margin-left: 6px; /* Adjust the margin-left for even smaller screens */
    margin-top: 6px; /* Adjust the margin-top for even smaller screens */
  }

  .ryt {
    width: 14px; /* Adjust the width for even smaller screens */
    height: 30px; /* Adjust the height for even smaller screens */
    margin-top: 14px; /* Adjust the margin-top for even smaller screens */
    margin-left: -20px; /* Adjust the margin-left for even smaller screens */
  }

  .pdfico {
    width: 50px;
    height: 30px;
    left: 67%;
    top: 41%;
}

  .pdfico1 {
    width: 60px; /* Adjust the width for even smaller screens */
    margin-top: -6.5px; /* Adjust the margin-top for even smaller screens */
    margin-left: 70px; /* Adjust the margin-left for even smaller screens */
    margin-bottom: 7px; /* Adjust the margin-bottom for even smaller screens */
  }

  .tc,
  .wp,
  .be,
  .bi,
  .ep,
  .legal,
  .isi,
  .management {
      margin-left: 3em;
      font-size: 14px;
      justify-content: center;
  }

  .col {
    margin-top: 6px; /* Adjust the margin-top for even smaller screens */
  }

  .circle12 {
    width: 15px; /* Adjust the width for even smaller screens */
    height: 15px; /* Adjust the height for even smaller screens */
    margin-top: -9px; /* Adjust the margin-top for even smaller screens */
    margin-left: 3em; /* Adjust the margin-left for even smaller screens */
  }

  .ste {
    margin-top: 10px; /* Adjust the margin-top for even smaller screens */
  }
}



/* --------------Thumbnail/ name/datetime css-----------------  */
/*svg.trck-aplicat {
  position: absolute;
  width: 9em;
  margin-top: -18em;
  margin-left: -27em;
}

svg.ryt1 {
  width: 2em;
  position: absolute;
  padding: 0;
  margin-left: -22em;
  margin-top: -20em;
}

svg.trck-testing {
  width: 10em;
  position: absolute;
  margin-top: -12em;
  margin-left: -7em;
}

svg.ryt2 {
  width: 2em;
  position: absolute;
  padding: 0;
  margin-left: -22em;
  margin-top: -20em;
} */

p.status-percent {
  left: 1117px;
  position: absolute;
  top: 124px;
  color: black;
  font-size: 20px;
}


.stepBlock:not(:last-child) > .circleWrapper::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: green;
  margin: auto;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  height: 3px;
}

.stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
  height: 2px;
  opacity: 0.6;
}

.primaryButton {
  padding: 10px 25px;
  background-color: green;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.primaryButton:disabled {
  opacity: 0.5;
}


.ongoing-applications{
  width: 100%;
  padding:30px;
  padding-top:60px;
}
.stepBlock{
  width:160px;
}
.documents{
  text-align: center;
}
.steps_container{
  padding-bottom: 40px;
  text-align: center;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .button120.btn {
    width: 100%; /* Adjust the width to fit the screen */
    margin-top: 20px; /* Adjust the margin-top value as needed */
    font-size: 16px; /* Adjust the font size as needed */
  }

  .stepBlock {
    width: 100%; /* Adjust the width to fit the screen */
  }

  .ongoing-applications {
    padding: 20px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .button120.btn {
    margin-top: 10px; /* Adjust the margin-top value as needed */
    font-size: 14px; /* Adjust the font size as needed */
  }
}


/*.complete .circle23, .complete .line, .complete .rightWrapper .arrow-right{
  background: rgb(85, 214, 85);
} */

p.dt1, p.dt5 {
  position: absolute;
  margin-top: -2em;
  font-weight: bold;
  margin-left: 5em;
}

.tecon {
  margin: 282px 143px 50px 143px;
}

.doc-col {
  width: 121px;
  height: 150px;
}

.doc-col .be {
  height: 30px;
}

svg.thumb.trck1 {
  margin-left: -51em;
  margin-top: 4.2em;
  width: 7em;
}

svg.thumb.trck2 {
  margin-left: -17em;
  margin-top: -25.9em;
  width: 7em;
}

svg.thumb.track3 {
  display: flex;
  margin-left: 35em;
  margin-top: -44.5em;
  width: 8em;
}

svg.thumb.track4 {
  margin-left: 26em;
  margin-top: -50.5em;
  width: 9em;
}

svg.thumb.track5 {
  margin-left: -57em;
  margin-top: -32.8em;
  width: 7em;
}

svg.thumb.track6 {
  margin-left: -17em;
  margin-top: -48.8em;
  width: 7em;
}

svg.thumb.track7 {
  margin-left: 17em;
  margin-top: -52.8em;
  width: 10em;
}

svg.thumb.track8 {
  margin-left: 46em;
  margin-top: -83.8em;
  width: 9em;
}

.mee-container,
.mee-container1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mee1 {
  width: 9em;
  height: 11em;
}

svg.mainsvg2 {
  width: 10em;
  height: 9em;
  margin: 1em 1em;
  padding: 5px 26px;
  background-color: white;
}

.mainsvg3 {
  position: absolute;
  /* display: contents; */
  width: 2.5%;
  /* height: 4.5%; */
  height: auto;
  margin-left: -50px;
  margin-top: 14px;
}

svg.mainsvg9 {
  width: 25em;
  height: 10em;
  margin: 0 25em;
}

.tecon {
  margin: 154px 30px 40px 55px;
  text-align: center;
  /* outline: 2px solid white; */
  background: #F2F6FD;
}

p.dt1,
p.dt5 {
  position: absolute;
  margin-top: -2em;
  font-weight: bold;
  margin-left: 5em;
}

p.dt2 {
  position: absolute;
  margin-left: 20em;
  margin-top: -2em;
  font-weight: bold;
}

p.dt3 {
  position: absolute;
  margin-left: 35em;
  margin-top: -2em;
  font-weight: bold;
}

p.dt4 {
  position: absolute;
  margin-left: 50em;
  margin-top: -2em;
  font-weight: bold;
}

p.dt6 {
  position: absolute;
  margin-left: 20em;
  margin-top: -2em;
  font-weight: bold;
}

p.dt7 {
  position: absolute;
  margin-left: 35em;
  margin-top: -2em;
  font-weight: bold;
}

p.dt8 {
  position: absolute;
  margin-left: 50em;
  margin-top: -2em;
  font-weight: bold;
}

p.dt10 {
  position: absolute;
  margin-left: 28.5em;
  margin-top: -2em;
  font-weight: bold;
}

/* CHNAGE */

h2.steps-count {
  position: relative;
  transform: translate(22px, 131px);
  margin: -71px 23px 15px 16px;
  text-align: center;
  /* text-decoration: underline; */
  font-size: 20px;
  font-weight: 100;
  /* color: #fff; */
}

.dd-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64em;
  outline: 2px solid #fff;
  transform: translate(130px, 25px);
}

.reportbtn {
  margin-bottom: 10px;
}

.reportbtn {
  padding: 13px 17px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  margin-left: 20px;
  margin-top: -45px;
  background: #4BAE4F;
  border: none;
}

.reportbtn:hover {
  background-color: #55B600;
}

.reportbtn:disabled,
.testreq-btn:disabled {
  cursor: not-allowed;
  background-color: #6c87c0;
  color: #fff;
}

.reportbtn:disabled:hover,
.testreq-btn:disabled:hover {
  background-color: #6c87c0;
  text-decoration: none;
}

.testreq-btn{
box-sizing: border-box;
width: 217px;
height: 48px;
background: #525DC8;
border-radius: 5px;
cursor: pointer;
border: none;
}

.upload-btn{
box-sizing: border-box;
width: 134px;
height: 48px;
background: rgba(244, 179, 9, 0.88);
border-radius: 5px;
cursor: pointer;
border: none;
}

.download-btn{
box-sizing: border-box;
width: 165px;
height: 48px;
background: #4BAE4F;
border-radius: 5px;
cursor: pointer;
border: none;
}
/* Responsive Styles */

/* For screens up to 468px */
@media screen and (max-width: 468px) {
  .dd-menu {
    display: block;
    width: auto;
    transform: none;
  }

  .header-btn1 {
    display: block;
    position: static;
    top: auto;
    left: auto;
    margin-bottom: 20px;
  }

  .reportbtn {
    padding: 8px;
    font-size: 16px;
  }

  svg.mainsvg2 {
    width: 100%;
    height: auto;
    margin: 0.1em 0;
  }

  h2.steps-count {
    transform: none;
    margin-bottom: -231px;
}

  .mainsvg3 {
    position: static;
    width: 40%;
    height: auto;
    margin: 0;
  }
}

/* For screens between 468px and 800px */
@media screen and (min-width: 469px) and (max-width: 800px) {
  .dd-menu {
    width: auto;
    transform: none;
  }

  .header-btn1 {
    display: block;
    position: static;
    top: auto;
    left: auto;
    margin-bottom: 20px;
  }

  h2.steps-count {
    transform: none;
    margin-bottom: -230px;
    margin-top: 54px;
}

  .reportbtn {
    font-size: 20px;
    margin: 10px 0;
  }
}

/* For screens between 801px and 1280px */
@media screen and (min-width: 801px) and (max-width: 1280px) {
  .dd-menu {
    width: auto;
    transform: none;
    gap:20px
  }


  .reportbtn {
    font-size: 24px;
    margin: 12px 0;
  }
}

/* For screens larger than 1280px */
@media screen and (min-width: 1281px) {
  .dd-menu {
    width: 64em;
    transform: translate(130px, 25px);
    gap:20px;
  }

  /* .reportbtn {
    font-size: 26px;
    margin: 10px 0;
  } */
}

.pdffilesup {
  margin: 0 8em;
}

.tecforms-btn3 {
  padding: 10px;
}

h2.pdfstep-name {
  text-align: center;
  /* color: #fff; */
  margin-bottom: -10px;
  font-size: 22px;
  font-weight: 100;
}


/*----------------Status Bar css here-------*/
h1.statusbar {
  color: black;
  text-align: center;
}



/*----BIS oongoing CSS START HERE ------------*/
.row1 {
  display: block;
  margin-bottom: 37px;
  margin: 3px -82px 100px;
  justify-content: center;
}

/* Upload Butoon POPUP SOME CSS */
h4.showselectfiles {
    margin-bottom: 20px;
}

button.showselectfiles {
  margin-top: 15px;
  margin-bottom: 35px;
}

