*, *:before, *:after {
  box-sizing: border-box;
}

.bgchangecompleted{
  background-image: url("../assets/pages-bgimages/4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 91vh;
  background-position: right center;
}


h1.type {
  float: left;
  color: black;
  font-size: 25px;
  font-weight: 600;
}

h1.appli {
  float: right;
  color: black;
  font-size: 25px;
  padding-right: 30px;
}

p.stdate{
  text-align: inherit;
  font-size: 20px;
  font-weight: 600;
}

p.enddate{
  text-align: end;
  font-size: 20px;
  font-weight: 600;
  margin-top: -1.2em;
}

h1.ongo {
  font-size: 30px;
  color: black;
  margin-top: -30px;
  margin-bottom: 40px;
}

button.clidown {
  margin-left: 34em;
}

/*.arrow-right {
  background: linear-gradient(90deg, #f12400 0%, #f72d0a 50%, #f52e0a 100%);
  clip-path: polygon(50% 0%, 90% 51%, 50% 100%, 3% 100%, 32% 50%, 0% 0%);
  width: 149px;
  height: 95px;
  margin-top: 10em;
} */

/*-------Completed Track page */
.arrow-right1 {
  background: linear-gradient(90deg, #117c07 0%, #197207 50%, #2b7c0b 100%);
  clip-path: polygon(50% 0%, 90% 51%, 50% 100%, 3% 100%, 32% 50%, 0% 0%);
  width: 149px;
  height: 95px;
  margin-top: 10em;
}

/*.circle23 {
  margin-top: 25px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: red
  margin-left: 4.1em;
} */

.circle24 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: green;
  /* float: left; */
  margin-left: 1.1em;
  top: 28em;
}

/*-------ARROWS ACTIVE COLOR CHANGE--------------*/


/*.line {
  margin-top: 75px;
  margin-left: -13px;
  width: 179px;
  height: 2px;
  background-color: red;
  float: left;
  transform: rotateZ(90deg);
} 

 .line1 {
  margin-top: 106px;
  margin-left: -49px;
  width: 159px;
  height: 2px;
  background-color: green;
  float: left;
  transform: rotateZ(90deg);
} */

.trck1 {
  width: 96px;
  height: 120px;
  margin-left: 14px;
  margin-top: 14px;
}

.ryt {
    width: 21px;
    height: 50px; /* adjust as needed */
    position: absolute;
    margin-top: 28px; /* half of the height */
    margin-left: -32px; /* half of the width */
    padding: 0;
}

.pdfico {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: -17px;
    margin-left: 5.7em;
}

.clickedColor {
  background-color: red;
}


img.pdfico1 {
  /* position: absolute; */
  width: 51px;
  margin-top: -16.5px;
  margin-left: 115.8px;
}

.tc, .wp, .be, .bi, .ep, .legal, .isi, .management {
  text-align: center;
  font-size: 16px;
  margin-bottom: 62px;
  margin-top: 16px;
  margin-left: 7em;
}

.pdf-container {
  position: relative;
  display: inline-block;
}

.tick-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container {
  text-align: center;
}

.row {
  display: inline-flex;
  justify-content: center;
}

.col {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

.circle12 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(85, 214, 85);
  margin-top: -17px;
  margin-left: 5.7em;
}


.stepWrapper {
  overflow-y: hidden;
  overflow-x: auto;
  /* width:90%; */
  display: inline-flex;
  margin-bottom: 20px;
  height:100%;
}

.stepBlock .circleWrapper {
  padding: 18px 78px;
  position: relative;
}
.selected .circle {
  color: black;
  background-color: white;
  border-color: green;
}

.ste {
  height:30px;
  margin-top: 40px;
  padding:10px;
}

/* --------------Thumbnail/ name/datetime css-----------------  */
/*svg.trck-aplicat {
  position: absolute;
  width: 9em;
  margin-top: -18em;
  margin-left: -27em;
}

svg.ryt1 {
  width: 2em;
  position: absolute;
  padding: 0;
  margin-left: -22em;
  margin-top: -20em;
}

svg.trck-testing {
  width: 10em;
  position: absolute;
  margin-top: -12em;
  margin-left: -7em;
}

svg.ryt2 {
  width: 2em;
  position: absolute;
  padding: 0;
  margin-left: -22em;
  margin-top: -20em;
} */


button120.btn {
  background-color: #083f81;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk";
  font-size: 18px;
  min-height: 21px;
  width: 10%;
  margin-top: 45px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: green;
  margin: auto;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  height: 3px;
}

.stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
  height: 2px;
  opacity: 0.6;
}

.primaryButton {
  padding: 10px 25px;
  background-color: green;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.primaryButton:disabled {
  opacity: 0.5;
}


.ongoing-applications{
  width: 100%;
  padding:30px;
  padding-top:60px;
}
.stepBlock{
  width:160px;
}
.documents{
  text-align: center;
}
.steps_container{
  padding-bottom: 40px;
  text-align: center;
}

/*.complete .circle23, .complete .line, .complete .rightWrapper .arrow-right{
  background: rgb(85, 214, 85);
} */

.doc-col{
  width:150px;
  height:150px;
}
.doc-col .be{
  height:30px;
}


svg.thumb.trck1 {
  margin-left: -51em;
  margin-top: 4.2em;
  width: 7em;
}

svg.thumb.trck2 {
  margin-left: -17em;
  margin-top: -25.9em;
  width: 7em;
}

svg.thumb.track3 {
  display: flex;
  margin-left: 35em;
  margin-top: -44.5em;
  width: 8em;
}

svg.thumb.track4 {
  /* display: flex; */
  margin-left: 26em;
  margin-top: -50.5em;
  width: 9em;
}

svg.thumb.track5 {
  margin-left: -57em;
  margin-top: -32.8em;
  width: 7em;
}

svg.thumb.track6 {
  margin-left: -17em;
  margin-top: -48.8em;
  width: 7em;
}

svg.thumb.track7 {
  margin-left: 17em;
  margin-top: -52.8em;
  width: 10em;
}

svg.thumb.track8 {
  /* display: flex; */
  margin-left: 46em;
  margin-top: -83.8em;
  width: 9em;
}

.mee-container,
.mee-container1 {
  display: flex;
  justify-content: center; /* optional: center the container horizontally */
  gap: 20px; /* add some space between the child elements */
}

.mee1 {
  width: 9em;
  height: 11em;
}

svg.mainsvg2 {
  width: 19em;
  height: 10em;
  margin: 2em -2.2em;
}

.mainsvg3 {
  position: absolute;
  width: 2.5%;
  height: auto;
  margin-left: -45px;
  margin-top: 55px;
  /* margin-right: 32px; */
  /* display: inline-block; */
}

svg.mainsvg9 {
  width: 25em;
  height: 10em;
  margin: 0 25em;
}

.tecon {
  margin: 100px 144px;
  text-align: center;
}

p.dt1 {
  position: absolute;
  margin-top: -2em;
  font-weight: bold;
  margin-left: 5em;
}
p.dt2 {
  position: absolute;
  margin-left: 20em;
  margin-top: -2em;
  font-weight: bold;
}
p.dt3 {
  position: absolute;
  margin-left: 35em;
  margin-top: -2em;
  font-weight: bold;
}
p.dt4 {
  position: absolute;
  margin-left: 50em;
  margin-top: -2em;
  font-weight: bold;
}
p.dt5 {
  position: absolute;
  margin-top: -2em;
  font-weight: bold;
  margin-left: 5em;
}
p.dt6 {
  position: absolute;
  margin-left: 20em;
  margin-top: -2em;
  font-weight: bold;
}
p.dt7 {
  position: absolute;
  margin-left: 35em;
  margin-top: -2em;
  font-weight: bold;
}
p.dt8 {
  position: absolute;
  margin-left: 50em;
  margin-top: -2em;
  font-weight: bold;
}

p.dt10 {
  position: absolute;
  margin-left: 28.5em;
  margin-top: -2em;
  font-weight: bold;
}

/*-----Download button Css of Forms---*/
.dd-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 419px;
  z-index: 974;
  padding: 20px;
}

.reportbtn {
  padding: 10px 10px;
  border-radius: 20px;
  /* border: none; */
  background-color: #082a71;
  color: white;
  cursor: pointer;
  font-size: 26px;
  font-weight: 600;
  margin-left: 20px;
}

.reportbtn:hover{
  background-color: #55b700;
}


.pdffilesup {
  margin: 0 8em;
}