
.welcome .nav-box {
  /* margin: 20px 0 40px; */
  font-weight: 600;
  font-size: 40px;
  color: #fff;
}
/* 
.bg-clienttdash{
  background-image: url("../../assets/client-map.svg");
} */

.dash-titlebg {
  /* background-color: #55B600; */
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  font-size: 20px;
  /* font-weight: 600; */
  padding: 10px;
  /* color: #fff; */
  margin: 2px 4px -8px;
}

/* .bg-clientdash{
  background-image: url("../../assets/pages-bgimages/background.svg");
} */

/* .welcome .welcome-options {
  width: 100%;
  margin: 0 auto;
  
  padding: 50px 0 40px;
  border-radius: 20px;
  margin-bottom: 20px;
} */

.name-bg {
  width: 100%;
  height: 340px;
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.name-bg {
  margin: -60px 0px;
}

/* img.five {
  width: 100px;
} */

img.second {
  width: 64px;
}

.four{
  width: 63px;
  pointer-events: none;
  cursor: not-allowed;
}

.upper-name {
  font-size: 51px;
  font-weight: bold;
  position: absolute;
  color: black;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 2px 2px white;
}

/* a.option-box {
  margin: 20px;
  gap: 20px;
  background-color: #F5F5F5;
  padding: 12px 2px;
  transform: translate(146px, 10px);
  cursor: pointer;
} */

a.option-box {
  display: flex;
  align-items: center;
  margin: 17px;
  gap: 20px;
  background-color: #F5F5F5;
  padding: 9px;
  cursor: pointer;
  text-decoration: none;
}

a.option-box:hover {
  background-color: #E0E0E0;
}

a.option-box h4 {
  color: black;
  font-weight: 100;
  margin: 0;
}

.option-box1{
  display: flex;
  align-items: center;
  margin: 17px;
  gap: 20px;
  background-color: #F5F5F5;
  padding: 9px;
  cursor: not-allowed;
  text-decoration: none;
}



/* .welcome .welcome-options .option-box * {
  transition: 0.3s all;
} */

/* .welcome .welcome-options .option-box h4 {
  font-size: 20px;
  width: 134px;
  max-width: 100%;
  margin-top: 20px;
  color: #898989;
  cursor: pointer;
} */

.option-box:hover * {
  transform: scale(1);
  animation: shining 2s infinite;
}

@keyframes shining {
  0% {
    opacity: 6;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 6;
  }
}


.welcome .welcome-options .view-report {
  display: block;
  margin: 0 auto;
  background: #e2e7ed;
  border: none;
  font-size: 20px;
  color: #4e5255;
  font-weight: 600;
  padding: 12px 35px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all;
}

.welcome .welcome-options .view-report:hover {
  background: #caced3;
}

@media (max-width: 991px) {
  .welcome {
    padding: 20px;
  }
  .welcome .nav-box {
    font-size: 30px;
  }
  .welcome .welcome-options {
    width: 100%;
    padding: 30px 0 20px;
  }
}

@media (max-width: 763px) {
  .welcome .welcome-options .option-box {
    margin-bottom: 40px;
    font-size: 20px;
  }
  .welcome .welcome-options .option-box h4 {
    font-size: 16px;
    margin-top: 10px;
  }
}


/*-----------------------------------MAIN PAGE CSS ------------------*/
body {
  background: rgb(255, 255, 255);
}

.welcome-note {
  border: 1px solid black;
  height: 24em;
  width: 70em;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, 30%);
}

p.welcome-lines {
  text-align: center;
  margin: 30px;
  font-size: 21px;
  font-weight: 600;
}

p.btn-title {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-weight: 600;
}

.button-container {
  margin-top: -6em; /* Center the container and add 50px margin at the top and bottom */
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center the buttons horizontally */
}

.button-container button {
  margin: 0 10px; /* Add 10px margin between the buttons */
}

button.continue-button {
  padding: 13px 31px;
  border-radius: 20px;
  border: none;
  background-color: #082a71;
  color: white;
  cursor: pointer;
  font-size: 26px;
  font-weight: 600;
  margin-left: -3em;
}

button.skip-button:hover,
button.continue-button:hover{
  background-color: #55b700;
}

/* ---------- MAINPAGE SVG AND TEXT CSS-------*/
.mainsvg1 {
  display: initial;
  /* grid-template-columns: repeat(auto-fill, minmax(15em, 1fr)); */
  /* grid-gap: 25px; */
  justify-items: center;
  /* align-items: center; */
  margin: 24px 24px 9px;
  width: 14em;
}


.imges-svg {
  margin: 0px 129px 0px;
}


/* .welcome {
  background-image: url('../../assets/pages-bgimages/background.svg');
  background-size: cover;
  background-position: center;
  height: 93vh;
} */

