
.welcome {
  padding: 30px;
}
.welcome .nav-box {
  margin: 20px 0 40px;
  font-weight: 600;
  font-size: 40px;
  color: black;
}

h3.dash-title {
  font-size: 30px;
  /* text-align: center; */
  margin: 42px 192px;

}


.welcome .welcome-options {
  width: 70%;
  margin: 0 auto;
  background: #f3f8fe;
  padding: 50px 0 40px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.welcome .welcome-options .option-box {
    /* display: flex; */
    align-items: end;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
}
.welcome .welcome-options .option-box * {
  transition: 0.3s all;
}
.welcome .welcome-options .option-box h4 {
  font-size: 20px;
  width: 134px;
  max-width: 100%;
  margin-top: 20px;
  color: #898989;
}
.welcome .welcome-options .option-box:hover * {
  color: #006193;
  fill: #006193;
}

.welcome .welcome-options .view-report {
  display: block;
  margin: 0 auto;
  background: #e2e7ed;
  border: none;
  font-size: 20px;
  color: #4e5255;
  font-weight: 600;
  padding: 12px 35px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all;
}
.welcome .welcome-options .view-report:hover {
  background: #caced3;
}

@media (max-width: 991px) {
  .welcome {
    padding: 20px;
  }
  .welcome .nav-box {
    font-size: 30px;
  }
  .welcome .welcome-options {
    width: 100%;
    padding: 30px 0 20px;
  }
}

@media (max-width: 763px) {
  .welcome .welcome-options .option-box {
    margin-bottom: 40px;
    font-size: 20px;
  }
  .welcome .welcome-options .option-box h4 {
    font-size: 16px;
    margin-top: 10px;
  }
}



/*-----------------------------------MAIN PAGE CSS ------------------*/
body {
  background: rgb(255, 255, 255);
}

.welcome-note {
  border: 1px solid black;
  height: 24em;
  width: 70em;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, 30%);
}

p.welcome-lines {
  text-align: center;
  margin: 30px;
  font-size: 21px;
  font-weight: 600;
}

p.btn-title {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-weight: 600;
}

.button-container {
  margin-top: -6em; /* Center the container and add 50px margin at the top and bottom */
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center the buttons horizontally */
}

.button-container button {
  margin: 0 10px; /* Add 10px margin between the buttons */
}

button.continue-button {
  padding: 13px 31px;
  border-radius: 20px;
  border: none;
  background-color: #082a71;
  color: white;
  cursor: pointer;
  font-size: 26px;
  font-weight: 600;
  margin-left: -3em;
}

button.skip-button:hover,
button.continue-button:hover{
  background-color: #55b700;
}

/* ---------- MAINPAGE SVG AND TEXT CSS-------*/
svg.mainsvg1 {
  width: 182px;
  height: 26em;
}

svg.mainsvg2 {
  width: 20em;
  height: 10em;
  margin: 0 27.5em;
}