
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.form-box{
	background-color: rgb(235, 239, 243);
	border-radius: 5px;
	width: 500px;
	max-width: 100%;
	margin: 2em auto;
	padding: 40px 30px;
  }

h18 {
	font-weight: bold;
	margin: 55px;
	font-size: 30px;
}

h2 {
	margin-bottom: 30px;
	font-size: 40px;
}

label {
    left: 20px;
    /*margin: 6.4em; */
    font-size: 20px;
    font-weight: 600;
}

button26 {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	margin-left: 4em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

button25 {
    position: absolute;
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    padding: 12px 45px;
    left: 62em;
    top: 37em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

input[type="password1"] {
    background-color: #FFFFFF;
    border: none;
    padding: 16px 19px;
    margin: 26px 110px;
    width: 50%;
	border-radius: 20px;
}
input[type="text1"] {
    background-color: #FFFFFF;
    border: none;
    padding: 16px 19px;
    margin: 26px 110px;
    width: 50%;
	border-radius: 20px;
}
input[type="email1"] {
    background-color: #FFFFFF;
    border: none;
    padding: 16px 19px;
    margin: 26px 110px;
    width: 50%;
	border-radius: 20px;
}

.scroll-text {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
  }
  
  .scroll-text span {
	display: inline-block;
	animation: marquee 12s linear infinite;
  }
  
  @keyframes marquee {
	0% { transform: translateX(200%); }
	100% { transform: translateX(-100%); }
  }
  


