@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,500&display=swap');

body {
  font-family: "Jost", sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.tble-reviewbg{
  background-image: url("../assets/pages-bgimages/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.table-bgsconpage{
  background-image: url("../assets/pages-bgimages/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  min-height: 91vh;
}


.bgchange{
  background-image: url("../assets/pages-bgimages/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 91vh;
}


/* Common styles for form groups and regions */
.form-group22,
.region-group22 {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px;
  width: 23em;
}

/* Center the container vertically */
.centerdiv {
  position: relative;
  top: 50%;
  transform: translateY(-99%);
}

/* Grid container for form groups */
.first-container22 {
  display: grid;
  gap: 10px;
}

/* Adjust flex basis for form groups, regions, and go button */
.form-group22,
.region-group22,
.gobutton22 {
  flex-basis: calc(33.33% - 10px);
}

/* Title with flex display and padding */
.fist-title {
  display: flex;
  padding: 20px;
}

/* Red warning text color */
.red-warning {
  color: red;
  padding: 3px;
}

/* White color for first text input label */
label.firsttext-input {
  color: white;
}

/* Category input styles */
input#category-input {
  width: 22em;
  height: 3em;
  padding: 11px;
  font-weight: 700;
  border-radius: 7px;
  font-size: 15px;
  border-style: none;
}

/* Region select styles */
select#region-select22 {
  height: 44px;
  padding: 8px 44px;
  border-radius: 10px;
  margin: 0px -4px;
}

/* Placeholder font size for form group inputs */
.form-group22 input::placeholder {
  font-size: 24px;
}

/* Side image container styles */
.side-img {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

/* Custom side image styles */
.custom-side-img {
  width: 825px;
  height: 451px;
  padding: 122px -4px;
  position: absolute;
  left: 325px;
  transform: translateY(-103%);
}

/* Responsive styles for button */
button.first-go {
  display: flex;
  justify-content: flex-start;
  padding: 8px 22px;
  font-size: 22px;
  font-weight: 600;
  color: #FF8025;
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
  border-style: none;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
  /* Adjust width for form groups and side image */
  .form-group22,
  .custom-side-img {
    width: 100%;
    padding: 12px;
    left: 0;
    transform: translateY(0);
  }

  /* Adjust width for category input */
  input#category-input {
    width: 100%;
  }

  /* Adjust width for region select */
  select#region-select22 {
    width: 100%;
  }

  /* Adjust flex-basis for form groups, regions, and go button */
  .form-group22,
  .region-group22,
  .gobutton22 {
    flex-basis: 100%;
  }
}



/*---------------Second Page CSS ---------------- */
.table-container {
    margin: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 25px;
    color: #fff;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #343a40;
    color: white;
  }
  
  th,
  td {
    text-align: center;
    padding: 8px;
  }
  
  th:first-child,
  td:first-child {
    text-align: center;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(even) {
    background-color: #e6e6e6;
  }
  
  tbody tr:hover {
    background-color: #caf0f5;
    cursor: pointer;
  }
  
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    background-color: #f2f2f2;
    margin-left: 107px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  
  .play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .play-button:hover{
    background-color: rgb(248, 204, 204);
  }
  
  .play-button svg {
    fill: #343a40;
    width: 40px;
    height: 40px;
  }
  
  
  .button1,
  .button2,
  .button3 {
    flex-direction: row;
    gap: 10px;
  }
  
  .button1,
  .button2,
  .button3 {
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 12px;
  }
  
  .button1:hover,
  .button2:hover,
  .button3:hover {
    background-color: #3e8e41;
  }


  /*--------Third Page CSS-----------*/

h1.content {
  font-size: 14px;
  text-align: center;
  transform: translateX(112px);
}
h1.cont {
  font-size: 24px;
  text-align: center;
  transform: translateX(112px);
}

img.imgback {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  transform: translate(19%, 0%);
  margin-top: -80px;
}


  /*---THird page Start application popup css------- */
.h802 {
    font-size: 33px;
    color: black;
    text-align: center;
    margin-bottom: 0;
}


.h801 {
  color: black;
  margin: 12px auto;
  font-size: 24px;
  text-align: center;
}


h805 {
  font-size: 25px;
  font-weight: 600;
  margin: 3em;
}

label.st8012 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  font-size: 15px;
}

label.st8012 > span.st805 {
  margin-right: 10px;
}

label.st8012 > input.stup806 {
  flex: 1;
}

label.st8012 {
  border: 1px solid black;
  padding: 5px;
  margin: 0px;
}

input.st805 {
  margin-left: auto;
  width: 20em;
  height: 28px;
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
}

label.st8017 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  font-size: 15px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.manufacunit, .manufacunit1 {
  margin: 0;
  margin-bottom: 10px;
}

.designations {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  margin-left: 20px;
}

.side-div {
  display: grid;
  /* align-items: center; */
  margin-left: 30px;
}

.st8012 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.st805 {
  margin-left: 5px;
}

h3.Contctprson,
h3.topmang,
h3.techni,
h3.model {
  color: red;
}


input[type="file"] {
  margin: 3px;
  margin-left: auto;
}

button.btn808 {
  width: 140px;
  margin: 13px 283px;
  height: 41px;
  border-radius: 10px;
  color: #FF9025;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button.btn808:hover{
  background-color: #55B700;
}

button.btn809 {
  width: 120px;
  margin: 8px 293px;
  height: 30px;
  color: #FF9025;
  font-size: 20px;
  font-weight: 600;
}

button.btn809:hover{
  background-color: #55B700;
}

  /*------------WishList Button CSS-------------------*/
  button.wishlist {
    position: absolute;
    top: 32em;
    left: 88em;
}

/*----------------Fourth Page CSS------------------*/

button.wishlist1 {
  position: absolute;
  top: 25em;
  left: 88em;
}

a.notify {
  position: absolute;
  top: 9em;
}

.button10.rdrcbtn {
  left: 52em;
}

/* ----------ThirdPage popup lines set css---------- */
  h90{
    font-size: 18px;
    font-weight: 600;
  }

  h32{
    font-size: 22px;
    font-weight: 600;position: absolute;
    top: 3px;
    left: 10px;
  }

  h98{
    position: absolute;
    left: 60px;
    top: 70px;
    font-size: 18px;
    font-weight: 600;
  }

  h94{
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 70px;
    left: 337px;
  }

  /*---------Thirdpage popup on upload button---------------*/
  .searchWrapper {
    border: 1px solid #ccc;
    top: 15px;
    min-height: 22p;
    padding: 5px;
    width: 300px;
    position: relative;
}

  input#file-input12 {
  position: absolute;
    top: 94px;
    left: 340px;
  }
    input#file-input12::file-selector-button {
      margin-right: 20px;
      border: none;
      background: #084cdf;
      padding: 10px 20px;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      transition: background .2s ease-in-out;
    }
    input#file-input12::file-selector-button:hover {
      background: #0d45a5;
    }

  /*-------------ThirdPage Butoon CSS--------------*/


  td.clickable {
    color: #55b700;
    font-size: 25px;
    font-weight: 600;
}

td.clickable:hover{
  color: #0d45a5;
}


.header-btn1 {
  display: flex;
  position: absolute;
  top: 340px;
  left: 20px;
}

@media screen and (max-width: 768px) {
  .header-btn1 {
      top: 250px;
      left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .header-btn1 {
      top: 200px;
      left: 5px;
  }
}


  .button7 {
    padding: 9px 30px;
    position: relative;
    margin-right: 20px;
    background-color: #fff;
    color: orange;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    border-style: none;
}
  .button7:hover {
    background-color: #55b700;
  }
  
/* button css styling is here of Forms Page  */
.button10 {
    left: 1em;
}

.document-box {
  margin-left: 32em;
  margin-top: -4.3em;
}

.notify-btnn1 {
  margin-top: -108em;
  margin-left: 54em;
}


/*------- APIS comeing data css ------*/
h2.content {
  margin: 14px;
  font-size: 20px;
  color: #fff;
}

h3.conte {
  font-size: 25px;
  font-weight: 600;
  color: #fff;      
}

h3.regpro {
  margin-top: 70px;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

h398.reqdoc {
  font-size: 21px;
  font-weight: 600;
  /* margin-top: 151px; */
  margin: 20px auto;
}

.ftch.data {
  text-align: center;
  padding: 20px;
}


   video {
    position: absolute;
    top: 102%;
    left: 76.4%;
}
video.videoBox {
  position: absolute;
  top: 11em;
}
  /*
  .video-content55 {
    position: absolute;
    top: 90%;
    font-size: 20px;
    left: 76%;
    font-weight: 600;
  } */


/*----- First Page Responsive------------*/

@media screen and (max-width: 576px) {
  /* Styles for screens smaller than 576px */
  .first-container22 {
  margin: 30px auto;
  width: 90%;
  padding: 20px;
  }
  
  select#region-select22 {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  }
  
  button {
  margin: 20px auto;
  }
  
  input[type=text] {
  width: 100%;
  margin: 4px 0 10px 0;
  border-radius: 5px;
  }
  
  .form-group {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  .region-group22 {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  button {
  font-size: 16px;
  height: 35px;
  padding: 8px 12px;
  }
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px) {
  /* Styles for screens between 577px and 768px */
  .first-container22 {
  margin: 50px auto;
  width: 90%;
  padding: 30px;
  }
  
  select#region-select22 {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  }
  
  button {
  margin: 20px auto;
  }
  
  input[type=text] {
  width: 100%;
  margin: 4px 0 10px 0;
  border-radius: 5px;
  }
  
  .form-group22 {
  font-size: 18px;
  margin-bottom: 15px;
  }
  
  .region-group22 {
  font-size: 18px;
  margin-bottom: 15px;
  }
  }


  /*------ThirdPage Responsive-----------*/

  @media only screen and (max-width: 768px) {
    .video-box {
      width: 100%;
      margin: 16px 0 3px;
    }
  
    .video-box video {
      width: 100%;
      height: auto;
    }
  
    .video-content {
      padding: 5px;
    }
  
    .video-content h2 {
      font-size: 24px;
      margin: 0 10px 2px;
    }
  
    .video-content p {
      font-size: 16px;
      margin: 0 10px;
    }
  }
  

/*------Firstpage fixes Responsive-----------*/

.centerdiv {
  text-align: center;
  padding-bottom: 40px;;
  overflow: hidden;
}

.first-container22 select#region-select22 option {
  width: 345px!important;
}



.nav-item{
  text-align: center;
  
}
.hori-selector .right, .hori-selector .left {
  bottom: 0;
}
#navbarSupportedContent li {
  text-align: center;;
  width: 14.28%;
}
.nav-btn{
  z-index:999;
}
@media (max-width: 991px) {
  .nav-btn {
    margin: 20px auto;
    margin-left: 20px;
}
#navbarSupportedContent li {
  text-align: center;;
  width: 100%;
}
}
@media screen and (min-width: 577px) and (max-width: 768px){
  .first-container22 select#region-select22 {
    width:100%;
  }
  .rights .dropdown-btn {
    width: auto;
  }
}

@media screen and (max-width: 576px){
  .first-container22 select#region-select22 {
    width:100%;
  }
  .rights .dropdown-btn {
    width: auto;
  }
}

.upload-form1{
  padding:10px;
}
.upload-form2{
  padding:10px;
}
.upload-form3{
  margin-bottom: 30px;
}
.upload-file-input{
  margin-top:15px!important;
}
.upload-buttons{
  margin-top: 40px;;
}
.download-form1{
  margin-bottom:40px;
}
.optionListContainer{
  width:fit-content!important;
}

/*----Notification button */
.notifyy {
  margin-left: 53em;
  margin-top: -77.1em;
}


/*----Chatbot css--------*/
.react-chatbot-kit-chat-inner-container{
  margin-bottom: 0;
}

/*------TECform Upload button POP css ------ */
select.optionss {
  width: 20em;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 22px;
  padding: 5px;
  position: relative;
  margin-bottom: 2em;
}

.tecforms-btn1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 18px;
  transform: translateX(-34%);
}

.tecforms-btn2 {
  padding: 10px;
  /* display: flex; */
  /* justify-content: flex-start; */
   margin-top: 4px; 
  position: absolute;
  left: 0;
  transform: translateX(180%);
}


.tec-btn{
  padding: 10px;
  position: relative;
  top: 10px;
  margin-right: 20px;
  background-color: #082a71;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.tec-btn:hover{
  background-color: #55b700;
}


/*------ANY THIS SUMBIT POPUP CSS ------*/
.submit-pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-pop p {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.sumbitpop-btn {
  background-color: #55b721;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  padding: 11px 24px;
}


.sumbitpop-btn:hover{
  background-color: #082a71;
}

/*--------DropDown of start Application form-------*/
.st804 {
  margin-top: 1px;
  margin-left: auto;
  width: 20em;
  height: 43px;
  padding: 9px 112px;
  font-size: 16px;
  font-weight: bolder;
}

.st804:focus {
  margin-top: 1px;
  margin-left: auto;
  width: 20em;
  height: 43px;
  padding: 9px 112px;
  font-size: 16px;
  font-weight: bolder;
  /* outline: 2px solid #55B600; */
}

/*-------StartApp Download Button CSS-----*/


.select-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 13px;
}

.select-container .select__option--is-selected {
  background-color: #f5f5f5;
}
.css-1fdsijx-ValueContainer {
  width: 20em;
}

/*-------------------BIS FROM DROP DOWN------------*/
select.bisdrop {
  height: 32px;
  width: 29em;
  padding: 3px 7px;
  margin: 14px 0px;
  font-size: 20px;
  font-weight: bolder;
  border-color: black;
}

/* BIS REGISTER AND UN REGISTER POPUP CSS */
.checkbox-container {
  display: flex;
  justify-content: space-around;
}

.bis-register {
  margin-right: 10px;
}

input.bis-register {
  width: 20px;
  height: 20px;
}

h3.reg-popup-titlte {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}

/*---------- BIS register POPup page css--------- */
.bis-userid {
  display: grid;
  justify-content: flex-start;
  /* row-gap: 3px; */
  margin-bottom: 20px;
}

select#has-r-number {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  height: 34px;
  padding: inherit;
  margin-bottom: 20px;
  border-color: black;
  /* font-size: 15px; */
  font-weight: 600;
}

input#user-id,
input#password {
  padding: 4px 3px;
  width: 15em;
  font-size: 20px;
  border-color: black;
}

span.eye-icon-fun {
  /* size: 1px; */
  cursor: pointer;
}

button.bis-register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  border-radius: 15px;
  background-color: #082a71;
}

button.bis-register:hover {
  background-color: #55b700;
}
